:root{
 --main-color: #cec8e5;
  --second-color: #a18ec3;
  --dark-color: #1f2328;
  --light-color: #5d646f;
  
}

.ltr {
  direction: ltr;
  text-align: left;
}

/* RTL styles */
.rtl {
  direction: rtl;
  text-align: right;
}
ul {
  list-style:inside;
}
.whats-app {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 15px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
.my-float:hover{
  color: #25d366;
}
.whats-app:hover{
  background-color: #FFF;
  box-shadow: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}